<div class="container">
    <form method="post" action="{{ path('app_wish_edit', {'id': wish.id}) }}">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.chosenGroups) }}
            {{ form_widget(form.chosenGroups) }}
            <div class="form-error">
                {{ form_errors(form.chosenGroups) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.isAccepted) }}
            {{ form_widget(form.isAccepted) }}
            <div class="form-error">
                {{ form_errors(form.isAccepted) }}
            </div>
        </div>

        {{ form_end(form) }}
    </form>
</div>
